* {
  margin: 0
}

body {
  background-color:  rgb(245, 245, 250);
  width: 100%;
  min-width: 350px;
  overflow-x: hidden;
  transition: all 400ms linear;
}

body.dark-mode {
  color: aliceblue;
  background: linear-gradient(90deg, rgba(70,70,70,1) 0%, rgba(106,106,106,1) 15%, rgba(116,116,116,1) 30%, rgba(133,133,133,1) 50%, rgba(134,134,134,1) 70%, rgba(106,106,106,1) 85%, rgba(92,92,92,1) 100%);
  overflow-x: hidden;
    transition: all 400ms linear;
}

.search-pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 75px;
  align-content: center;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .search-pagination {
    flex-direction: column;
    align-content: center;
    margin: 30px 0px;
  }

  .searchbar {
    width: 100%;
  }
}
