.pokemon-detail-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  margin: auto;
  position: relative;
  width: 90%;
  margin-bottom: 40px;
  max-width: 1200px;
}

.pokemon-detail-container-image {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  align-items: center;
  justify-items: center;
}

.favorite-container {
  float: right;
  margin-top: -10px;
}

.pokemon-detail-card-container {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 20px 30px 60px 30px;
  width: 70%;
  border-radius: 20px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr ;
  grid-gap: 20px;
  align-items: center;
}

.pokemon-detail-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
}

.pokemon-detail-id {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-align: center;
  font-size: smaller;
  margin-top: -20px;
  margin-bottom: -20px;
}

.pokemon-detail-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: xx-large;
}

.pokemon-detail-height-weight-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center
}

.pokemon-detail-height-weight {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  grid-gap: 60px;
  padding: 3px;
  border-radius: 30px;
}

.pokemon-detail-skills,
.pokemon-detail-height,
.pokemon-detail-weight {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: smaller;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  grid-gap: 15px;
  padding: 3px;
  border-radius: 30px;
}

.skills-title,
.pokemon-detail-height p,
.pokemon-detail-weight p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: large;
}

.skills-values p,
.heigth-value,
.weigth-value {
  background-color: rgb(244, 244, 244);
  padding: 20px 40px;
  border-radius: 40px;
  text-transform: capitalize;
}

.skills-values {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  grid-gap: 10px
}

.pokemon-detail-types {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: white;
  text-decoration: none;
}

.pokemon-detail-stats {
  display: grid;
  justify-items: center;
  margin-top: 20px;
}

.pokemon-detail-stats h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: large;
}

.stats-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
  border-radius: 30px;
}

.stats-details {
  background-color: rgb(244, 244, 244);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  border-radius: 30px;
  padding-bottom: 20px; 
}

.pokemon-stats-name {
  border-radius: 100%;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.pokemon-stats-number {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.pokemon-detail-skills h4,
.pokemon-detail-stats h4 {
  margin-bottom: 20px;
}

.hearts {
  background-color: transparent;
  border: none;
}

.favorite-heart {
  width: 36px;
}

.unfavorite-heart {
  width: 30px;
}

@media (max-width: 600px) {
  .pokemon-detail-card-container {
    width: 70%;
    padding: 20px;
  }

  .pokemon-detail-container {
    grid-template-columns: 1fr;
  }

  .pokemon-detail-skills {
    margin-top: 50px;
  }

  .pokemon-detail-height-weight-container,
  .pokemon-detail-types {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
    align-items: center;
  }

  .stats-container {
    grid-template-columns: 1fr 1fr;
  }

  .skills-values {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 900px) {
  .pokemon-detail-container {
    grid-template-columns: 1fr;
  }

  .pokemon-detail-height-weight {
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }

  .pokemon-detail-types {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .stats-container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .skills-values {
    grid-template-columns: 1fr;
  }
}
