.to-top-button {
  border-color: transparent;
  position: fixed;
  top: 86%;
  right: 3%;
  background-color: rgb(219, 219, 219);
  border-radius: 50%;
}

.to-top-button:hover {
  border-radius: 50%;
  background-color: DarkTurquoise;
}

@media (max-width: 400px) {
  .to-top-button[disabled=disabled],
  .to-top-button {
  display: none;
  }
}
