.about-container.dark-mode {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-top: 50px;
  padding: 20px;
  flex-wrap: wrap;
}

.text-images.dark-mode {
  display: flex;
  width: 80%;
}

.about-text.dark-mode {
  text-align: center;
}

.about-text.dark-mode h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 25px;
}

.about-text.dark-mode h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 25px;
}

.about-text.dark-mode p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 25px;
  margin-bottom: 25px;
}

.left-image-about.dark-mode {
  width: 100%;
  justify-self: end;
}

.about-text.dark-mode {
  grid-column: 5 / span 4;
  text-align: center;
}

.contact-info.dark-mode {
  grid-column: 9 / span 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-link.dark-mode {
  text-decoration: none;
  color: white;
  font-weight: 300;
}

.about-link.dark-mode:hover span {
  color: rgb(255, 203, 5);
  font-weight: 400;
}

.image-about.dark-mode {
  display: flex;
  width: 100%;
  align-items: center
}

.text.dark-mode {
  text-align: center;
  padding: 0 5%;
}

.cap-pokemon.dark-mode {
  max-width: 100%;
  margin-right: 20%;
}

.happy-pokemon.dark-mode {
  max-width: 80%;
  margin-left: 10%;
}

.pokedex-repo.dark-mode {
  display: flex;
  justify-content: center;
  margin: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
  color: white;
}

.pokedex-repo.dark-mode:hover span {
  color: rgb(42, 117, 187);
}

.contact-info.dark-mode {
  display: flex;
  max-width: 600px;
  margin-top: 30px;
}

.contact-title.dark-mode {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 10px;
}

.contact-badges.dark-mode {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-left: 20px;
}

.email.dark-mode,
.phone.dark-mode,
.linkedin.dark-mode,
.github.dark-mode,
.portfolio.dark-mode {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  margin: 0px 15px
}

.email.dark-mode h3,
.phone.dark-mode h3,
.linkedin.dark-mode h3,
.github.dark-mode h3,
.portfolio.dark-mode h3 {
  margin-left: 5px;
}

@media screen and (max-width: 768px) {
  .about-container.dark-mode {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .about-text.dark-mode p {
    width: 100%;
    font-size: 23px;
    margin: 0;
  }

  .cap-pokemon.dark-mode {
    display: none;
  }

  .happy-pokemon.dark-mode {
    display: none;
  }

  .phone.dark-mode h3 {
    font-size: 17px;
  }
}
