.footer-text.dark-mode {
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  text-align: center;
  font-weight: 400;
  padding: 20px;
  background-color: transparent;
}

.footer-text.dark-mode a {
  text-decoration: none;
  opacity: 85%;
}

.rafael.dark-mode {
  color: white;
  font-weight: 600;
  opacity: 85%;
}

.rafael.dark-mode:hover {
  color: rgb(255, 203, 5);
  opacity: 100%;
}

.react.dark-mode {
  color: white;
  font-weight: 600;
  opacity: 85%;
}

.react.dark-mode:hover {
  color: rgb(52, 98, 142);
  opacity: 100%;
}

.typescript.dark-mode {
  color: white;
  font-weight: 600;
  opacity: 85%;
}

.typescript.dark-mode:hover {
  color: rgb(52, 98, 142);
  opacity: 100%;
}

@media screen and (max-width: 768px) {
  .footer-text.dark-mode {
    font-size: 14px;
  }
}
