.pokemon-detail-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  align-items: center;
  justify-items: center;
  margin: auto;
}

.pokemon-detail-container-image {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  align-items: center;
  justify-items: center;
  margin: 50px;
}

.pokemon-detail-card-container {
  background-color: white;
  box-shadow: 0px 0px 20px #888888;
  padding: 40px;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr ;
  grid-gap: 20px;
  align-items: center;
}

.pokemon-detail-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.pokemon-detail-id {
  font-size: medium;
}

.pokemon-detail-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: xx-large;
}

.pokemon-detail-height-weight {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.pokemon-detail-types,
.pokemon-detail-skills,
.pokemon-detail-stats,
.pokemon-detail-moves {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-detail-types h4,
.pokemon-detail-skills h4,
.pokemon-detail-stats h4,
.pokemon-detail-moves h4 {
  margin-bottom: 20px;
}

.pokemon-detail-moves table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.pokemon-detail-moves table thead tr {
  background-color: #dddddd;
}

.pokemon-detail-moves table tbody tr {
  background-color: white;
}

.pokemon-detail-moves table td {
  padding: 10px;
  border: 1px solid #dddddd;
  text-align: center;
}
